<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}

          <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock %}        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>
    <style>
        section{
            display: flex;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            margin-bottom: 100px;
            
        }
        .article{
            width: auto;display: flex;
        }
        .aside{
            width: 400px;;
           padding: 0px;display: flex;
        }
        .imgpetit{
            display: flex;
        }
        .desc{
            padding-top: 70px;width: 300px;
        }
        form{
            padding: 20px;
            border: 1px solid black;
        }
        .row{
            padding: 0px;
        }
       
    </style>
    <div class="container">
       
<section class="row">
      {% block suggetions %}
        {% endblock %}
 
    <aside class="col-lg-6 aside"><form id="connexion">
        <div class="card-header"> <h2>CONNEXION</h2></div><hr>
                  <input type="hidden" class="form-control" name="form" placeholder="" value="connexion">

  <div class="form-group">
    <label for="formGroupExampleInput">Email</label>
    <input type="email" class="form-control" id="email" placeholder="example@example.com">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="password" class="form-control" id="password" placeholder="enter your password"></div>
           
           <button type="submit" class="btn btn-primary">Submit</button>
        <p>  Vous etes nouveau? <a type="submit" class="fa fa-arrow-right" href="#" id="inscrire">Inscrivez-vous</a>
      </p>
  
</form>
        
        <form id="inscription" method="post">
               <div class="card-header"> <h2>Inscription</h2><hr>

            <div class="row">
  <div class="form-group col-md-6"> 
          <input type="hidden" class="form-control" name="form" placeholder="" value="inscription">

    <input type="hidden" class="form-control" name="idBien" placeholder="" value="{{ biens[0].id }}">
   
      <label for="formGroupExampleInput2">Numpiece</label>
    <input type="number" class="form-control" name="numpiece" placeholder="enter your cni" value="">
  </div> <div class="form-group col-md-6">
    <label for="formGroupExampleInput">Nom</label>
    <input type="text" class="form-control" name="nomComplet" placeholder="entrez votre nom" value="">
  </div>
                </div>
  <div class="form-group">
       <label for="formGroupExampleInput2">TEL</label>
    <input type="number" class="form-control" name="tel" placeholder="enrter votre numero " value="">
                   </div><div class="form-group">
       <label for="formGroupExampleInput2">Adresse</label>
    <input type="text" class="form-control" name="adresse" placeholder="entrer votre addresse" value="">
                   </div>
    <br><div class="form-group">   <label for="formGroupExampleInput2">Email</label>
    <input type="email" class="form-control" name="email" placeholder="entrer votre email" value="">
                   </div>
           <br>
       <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input type="password" class="form-control" name="password" placeholder="entrer votre password" value=""></div>
       
           <button type="submit" class="btn btn-primary">Submit</button>
        <p>  <a type="submit" class="fa fa-arrow-right" href="#" id="conect">se connecter</a>
      </p>
            </div>

</form>
    </aside>
  </section>
      
     
     {% block javascripts %}
<script>
    $(document).ready(function(){
                    $("#inscription").hide();
        $("#inscrire").on("click",function(){
            $("#connexion").hide();
                                $("#inscription").show();

        });
                $("#conect").on("click",function(){
$("#connexion").show(); $("#inscription").hide();
         });
    });
    </script>
     <script src="{{ asset('js/jquery.min.js') }}"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

        {% endblock %}
    </body>
</html>